<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Home</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        body {
            /* background-color: #D4C9BE; */
            color: #030303;
        }
        .navbar {
            display: flex;
            height: 10vh;
            width: 100%;
            justify-content: space-between;
            background-color: #000000;
            padding: 0.8rem 2rem; 
        }
        .logo {
            color: white;
            font-size: 1.5rem;
            font-weight: 700;
            display: flex;
            align-items: center;
        }
        .nav-links {
            display: flex;
            list-style: none;
        }
        .nav-links li {
            margin: 0 1rem;
        }
        .nav-links a {
            color: white;
            text-decoration: none;
            font-weight: 500;
            padding: 0.5rem;
            transition: all 0.3s ease;
        }
        ul {
            margin-top: 10px;
        }
        .nav-links a:hover,
        .nav-links a.active {
            color: #F1EFEC;
            border-bottom: 2px solid #F1EFEC;
        }
        .logout button {
            color: red;
            background-color: #000000;
            border: 3px solid red;
            padding: 10px;
            border-radius: 20px;
            margin-top: 5px;
            cursor: pointer;
        }

        .logout button:hover {
            background-color: rgb(35, 1, 1);
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- navbar start-->
    <nav class="navbar">
        <div class="logo">
            PLAY
        </div>

        <ul class="nav-links">
            <li><a href="/view/admin-home">Dashboard</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#" class="active">Users</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
        <div class="items">

        <div class="right-section">
            <div class="logout">
                <button id="logout-button">Logout</button>
            </div>
        </div>
        </div>
    </nav>
    <!-- navbar end -->

    <h1>Admin Users Page</h1>
   
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const logoutBtn = document.getElementById("logout-button");

        logoutBtn.addEventListener("click", async function() {
            try {
                const API_URL = "http://localhost:5000/api/v1/admin/logout";
                const response = await axios.post(API_URL, {});

                const data = response.data;
                if(data.success) {
                    localStorage.clear();
                    window.location.href = "/view/admin-login";
                }else{
                    console.error("Log out Attempt failed");
                    
                }
            } catch (error) {
                console.error("Logout failed: ", error);
                               
            }   
        });

    });
</script>
</html>